{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
  <h1>Welcome to Agent Dashboard</h1>
  <hr>
  <h2>Pending Properties</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Property Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% if pending_properties %}
        {% for property in pending_properties %}
          <tr>
            <td><a href="{% url 'property_detail' property.pk %}">{{ property.Property_Name }}</a></td>
            <td><a href="{% url 'approve_property' property.pk %}" class="btn btn-primary">Approve</a></td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="2">No pending properties found.</td>
        </tr>
      {% endif %}
    </tbody>
  </table>
</div>
{% endblock %}
