{% extends "base.html" %}
{%load static%}


{%block title%} <title>Hunters Real Estate - Hunting Down Your Perfect Property</title>{% endblock %}


{%block getStarted%}
{%include "partials/_getStarted.html"%}
{%endblock%}

{%block search%}
{%include "partials/_search.html"%}
{%endblock%}




{%block category%}
{%include "partials/_category.html"%} 
{%endblock%}



{%block testimonial%}
 <!-- Testimonial Start -->
 <div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3">Our Clients Say!</h1>
            <p>Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
            {% for review in top_review %}
            <div class="testimonial-item bg-light rounded p-3">
                <div class="bg-white border rounded p-4">                    
                    <div class="d-flex align-items-center">
                        {%if review.user.profile_picture%}
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="{{ review.user.profile_picture.url }}" style="width: 45px; height: 45px;">
                        {%else%}
                            <i class="bi bi-person-circle" style="font-size: 30px;"></i>
                        {%endif%}
                        <div class="ps-3">
                            <h6 class="fw-bold mb-1">{{ review.user.name }}</h6>
                            <small>
                                {% if review.rating == 5 %}
                                <i class="fa fa-star" style="color: #FFD700;"></i><i class="fa fa-star" style="color: #FFD700;"></i><i class="fa fa-star" style="color: #FFD700;"></i><i class="fa fa-star" style="color: #FFD700;"></i><i class="fa fa-star" style="color: #FFD700;"></i>
                                {% elif review.rating == 4 %}
                                    <i class="fa fa-star" style="color: #FFD700;"></i><i class="fa fa-star" style="color: #FFD700;"></i><i class="fa fa-star" style="color: #FFD700;"></i><i class="fa fa-star" style="color: #FFD700;"></i><i class="fa fa-star"></i>
                                {% elif review.rating == 3 %}
                                    <i class="fa fa-star" style="color: #FFD700;"></i><i class="fa fa-star" style="color: #FFD700;"></i><i class="fa fa-star" style="color: #FFD700;"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                {% elif review.rating == 2 %}
                                    <i class="fa fa-star" style="color: #FFD700;"></i><i class="fa fa-star" style="color: #FFD700;"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                {% elif review.rating == 1 %}
                                    <i class="fa fa-star" style="color: #FFD700;"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                {% endif %}
                            </small>
                        </div>
                    </div>
                    <p>{{ review.comment }}</p>
                </div>
            </div>
            {% endfor %}
        </div>

<br>
        <!-- Button "Your feedback" -->
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <a href="{% url 'testimonial' %}" class="btn btn-primary btn-bg">See All</a>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->
{%endblock%}
