{%extends "base.html"%}

{%load static%}
{% load crispy_forms_tags %}

{%block title%} <title>Reset password</title>{% endblock %}

{%block content%}
    <!-- password_reset.html -->
{% comment %} <form method="post">
    {% csrf_token %}
    <label for="email">Email:</label>
    <input type="email" name="email">
    <button type="submit">Reset Password</button>
</form> {% endcomment %}
<style>
    .custom-form {
        max-width: 600px; /* Adjust the width as needed */
        margin: 0 auto; /* Center the form horizontally */
    }
</style>
<br>
<form method="post">
    {% csrf_token %}
    
    <div class="custom-form">
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Reset Password</button>
    </div>
</form>
{%endblock%}