{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{%block title%}
<title> Profile </title>
{%endblock%}
{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-lg">
        <div class="card-body">
          {% if profile_fields %}
            <div class="text-center mb-4">
              {% if profile_fields.profile_picture %}
                <img src="{{ profile_fields.profile_picture.url }}" alt="Profile Picture" class="img-fluid rounded-circle" width="150" height="150">
              {% else %}
                <div class="text-muted">
                  <i class="bi bi-person-circle" style="font-size: 150px;"></i>
                </div>
              {% endif %}
            </div>
            
            <div class="table-responsive">
              <table class="table table-borderless">
                <tbody>
                  {% for field, value in profile_fields.items %}
                    {% if field != 'profile_picture' %}
                      <tr>
                        <th>{{ field|format_field_name }}</th>
                        <td>
                          {% if field == 'gender' %}
                            {% if value == 1 %}
                              Male
                            {% elif value == 2 %}
                              Female
                            {% elif value == 3 %}
                              Other
                            {% else %}
                              None
                            {% endif %}
                          {% else %}
                            {{ value }}
                          {% endif %}
                        </td>
                      </tr>
                    {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
            
            <div class="text-center mt-4">
              <a href="{% url 'edit_profile' %}" class="btn btn-primary">Edit Profile</a>
            </div>
          {% else %}
            <p class="text-muted text-center">No profile found</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
