{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{%block title%}
<title> Property Listings </title>
{%endblock%}

{% block content %}
<br>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <!-- Filtering Form as Left-side Panel -->
            <div class="card filter-panel" style="height: 80vh; overflow-y: auto;">
                <div class="card-body">
                    <h5 class="card-title">Filter Properties</h5>
                    <form method="get" action="" class="form-horizontal" id="filterForm">
                        <!-- Property Type -->
                        <div class="mb-3">
                            <label for="property_type" class="form-label">Property Type</label>
                            <select class="form-select" id="property_type" name="property_type">
                                <option value="">All</option>
                                <option value="residential">Residential</option>
                                <option value="commercial">Commercial</option>
                                <option value="land">Land</option>
                            </select>
                        </div>
                        <!-- Bedrooms -->
                        <div class="mb-3" id="bedrooms_field" style="display: none;">
                            <label for="bedrooms" class="form-label">Bedrooms</label>
                            <input type="number" class="form-control" id="bedrooms" name="bedrooms" placeholder="Bedrooms">
                        </div>
                        <!-- Bathrooms -->
                        <div class="mb-3" id="bathrooms_field" style="display: none;">
                            <label for="bathrooms" class="form-label">Bathrooms</label>
                            <input type="number" class="form-control" id="bathrooms" name="bathrooms" placeholder="Bathrooms">
                        </div>
                        <!-- Business Type -->
                        <div class="mb-3" id="business_type_field" style="display: none;">
                            <label for="business_type" class="form-label">Business Type</label>
                            <input type="text" class="form-control" id="business_type" name="business_type" placeholder="Business Type">
                        </div>
                        <!-- Land Type -->
                        <div class="mb-3" id="land_type_field" style="display: none;">
                            <label for="land_type" class="form-label">Land Type</label>
                            <input type="text" class="form-control" id="land_type" name="land_type" placeholder="Land Type">
                        </div>
                        <!-- Property On -->
                        <div class="mb-3">
                            <label for="property_on" class="form-label">Property On</label>
                            <select class="form-select" id="property_on" name="property_on">
                                <option value="">All</option>
                                <option value="sell">Sell</option>
                                <option value="rent">Rent</option>
                            </select>
                        </div>
                        <!-- City -->
                        <div class="mb-3">
                            <label for="city" class="form-label">City</label>
                            <input type="text" class="form-control" id="city" name="city" placeholder="City">
                        </div>
                        <!-- Price Range -->
                        <div class="mb-3">
                            <label for="price_min" class="form-label">Min Price</label>
                            <input type="number" class="form-control" id="price_min" name="price_min" placeholder="Min Price">
                        </div>
                        <div class="mb-3">
                            <label for="price_max" class="form-label">Max Price</label>
                            <input type="number" class="form-control" id="price_max" name="price_max" placeholder="Max Price">
                        </div>
                        <button type="submit" class="btn btn-primary">Apply Filters</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <!-- Property List as Right-side Panel -->
            <div class="property-list-container" style="max-height: 80vh; overflow-y: auto; overflow-x: hidden;">
                <div class="row g-4">
                    {% for property in filtered_properties %}
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="property-item rounded overflow-hidden">
                            <!-- Property details -->
                            <div class="position-relative overflow-hidden">
                                <a href="{% url 'property_detail' pk=property.pk %}">
                                    {% comment %} <img class="img-fluid property-image" src="{{ property.Property_Pictures.url }}" alt="{{ property.Property_Name }}"> {% endcomment %}
                                    <img class="img-fluid" src="{{ property.Property_Pictures.url }}" alt="{{ property.Property_Name }}" style="width: 350px; height: 250px;">
                                </a>
                                <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">{{ property.Property_on }}</div>
                                <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">{{ property.Property_type }}</div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-primary mb-3">${{ property.Price }}</h5>
                                <a class="d-block h5 mb-2" href="{% url 'property_detail' pk=property.pk %}">{{ property.Property_Name }}</a>
                                <p><i class="fa fa-map-marker-alt text-primary me-2"></i>{{ property.City }}, {{ property.Postal_code }}</p>
                            </div>
                            {% if property.Property_type == "residential"%}
                                <div class="d-flex border-top">
                                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>{{ property.residentialproperty.Bedrooms }} Bed</small>
                                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-bath text-primary me-2"></i>{{ property.residentialproperty.Bathrooms }} Bath</small>    
                                    <small class="flex-fill text-center py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>{{ property.Total_area_in_sqft }} Sqft</small>
                                </div>
                            {% elif property.Property_type == "commercial" %}
                                <div class="d-flex border-top">
                                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-building text-primary me-2"></i>{{ property.commercialproperty.Business_type }}</small>
                                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-car text-primary me-2"></i>{{ property.commercialproperty.Parking_spaces }} Sqft</small>    
                                    <small class="flex-fill text-center py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>{{ property.Total_area_in_sqft }} Sqft</small>
                                </div>
                            {% elif property.Property_type == "land" %}
                                <div class="d-flex border-top">
                                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-building text-primary me-2"></i>{{ property.landproperty.Land_type }}</small>
                                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>{{ property.Total_area_in_sqft}} Sqft</small>    
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>




<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#property_type').change(function() {
            var propertyType = $(this).val();
            if (propertyType == 'residential') {
                $('#bedrooms_field').show();
                $('#bathrooms_field').show();
                $('#business_type_field').hide();
                $('#land_type_field').hide();
            } else if (propertyType == 'commercial') {
                $('#bedrooms_field').hide();
                $('#bathrooms_field').hide();
                $('#business_type_field').show();
                $('#land_type_field').hide();
            } else if (propertyType == 'land') {
                $('#bedrooms_field').hide();
                $('#bathrooms_field').hide();
                $('#business_type_field').hide();
                $('#land_type_field').show();
            } else {
                $('#bedrooms_field').hide();
                $('#bathrooms_field').hide();
                $('#business_type_field').hide();
                $('#land_type_field').hide();
            }
        });
    });
</script>
{% endblock %}

