
<!-- update_property.html -->
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center min-vh-100">
        <div class="col-md-6">
            <div class="card">
                {% comment %} <div class="card-header">Edit Property</div> {% endcomment %}
                <div class="card-body">
                    <h2 class="text-center">Update Property</h2>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %} 
                        {% if specific_form %}
                            {{ specific_form|crispy }}
                        {% endif %}
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
