{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h1>Property Documents</h1>
    <h2>{{ property_instance.Property_Name }}</h2>
    
    <ul>

            <li><a href="{{ property_documents.url }}" target="_blank">{{ property_instance.Property_Name }}</a></li>
        
    </ul>

    {% if request.user.UserProfile.is_agent %}
        {%if property_instance.Approval_by_Agent == Null%}
            <form action="{% url 'approve_property' property_instance.id %}" method="post" action ="{%url 'agent_dashboard' %}"class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Approve Property</button>
            </form>
            <form action="{% url 'cancel_approval' property_instance.id %}" method="post" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Cancel Approval</button>
            </form>
        {%endif%}
    {% endif %}
</div>
{% endblock %}
